:root{

    --background-one: #FAFDFE;
    --background-two: #F2FAFB;
    --interactive-comp-one : #DEF7FA;
    --interactive-comp-two : #CAF1F6;   
    --interactive-comp-three : #B5E9EF;
    --border-separator-one: #A1DDE5;
    --border-separator-two: #90CBD3;
    --border-separator-three: #78B2BA;
    --solid-one: #66A0A7;
    --solid-two: #5A949B;
    --text-one : #3F7980;
    --text-two : #083E43;
    --text-high-contrast: #000000;

}

.dark-mode {
    --background-one: #01070A;
    --background-two: #0E181C;
    --interactive-comp-one : #0E181C;
    --interactive-comp-two : #003747;   
    --interactive-comp-three : #024457;
    --border-separator-one: #024457;
    --border-separator-two: #1D667D;
    --border-separator-three: #2A7F9A;
    --solid-one: #50A0BD;
    --solid-two: #4394B0;
    --text-one : #76C6E3;
    --text-two : #BCEAFC;
    --text-high-contrast: #FFFFFF;
}
    
main {
    background-color: var(--background-one);
    color: var(--text-one);
}
